---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>404</h1>
    <p></p>
  </div>
</BaseLayout>
